

<ion-content >
  <h1 style="text-align: center;"> Registro</h1>
  <ion-card style="width: auto; height: 300px; padding: 30px;background-color: rgb(140, 140, 240); color: white;">
  <p>Descripcion</p>
  <ion-input  label-placement="floating" fill="outline" ></ion-input>
  <p>Monto</p>
  <ion-input  label-placement="floating" fill="outline" ></ion-input>
  <p>Dar clic en el boton para agregar la foto.</p>
  </ion-card>
  <ion-fab class="camera-fab" vertical="bottom" slot="fixed" horizontal="center">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
