<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-card style="background-color: aquamarine;">
        <ion-card-header>
          <ion-card-subtitle>Total de Gastos</ion-card-subtitle>
          <p></p>
          <ion-title>600$</ion-title>
          <p> </p>
          <ion-card-subtitle>Octubre 20</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <div class="photo-gallery-container">
    <ion-grid class="photo-grid">
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="3" *ngFor="let photo of photoService.photos; index as position"
          class="photo-col">
          <div class="photo-container">
            <ion-card style="background-color: palegreen;">
              <ion-card-content>
                <ion-img [src]="photo.webviewPath" class="photo-img"></ion-img>

              </ion-card-content>
            </ion-card>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>    
</ion-content>
